.card-container {
    position: relative;
    margin: 20px;
    perspective: 1000px;
    height: 300px;
    transition: transform 0.3s ease;
  }

  .card-content {
    padding: 20px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* .card:hover .card-content {
    transform: translateY(-100%);
  } */
  
  /* .draggable-component {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 95, 95, 0.546);
    z-index: 1;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
    opacity: 1;
  } */
  
  /* .draggable-component h3 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .draggable-component p {
    margin: 10px 0;
  }
  
  
  .draggable-component a img {
    width: 20px;
    height: 20px;
  }
  
  .draggable-component a:hover {
    background-color: #ddd;
  }
  
  .card:hover .draggable-component {
    opacity: 1;
    transform: translateY(0);
  }
  
  .projectName{
    font-size: 20px;
    color: aqua;
    justify-content: center;
    display: flex;
  } */

  .draggable-component {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px; 
  transform: translateY(100%);
  transition: transform 0.9s ease-in-out;
  }
  
  .card-container .draggable-component {
    transform: translateY(0);
  }

  .card-container:hover{
    transform: scale(1.05);
    backdrop-filter: blur(8px);
  }

  .introductionProject{
    font-size: 18px;
    color: black;
  }

  .movePageIcon{
    font-size: 18px;
    color: black;
    font-weight: 700;
  }

  .movePageIcon:hover{
    cursor: pointer;
    color: rgb(38, 85, 160);
  }

  .ProjectHeading{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .justifyCol{
    justify-content: center;
    display: flex;
    padding-top: 10px;
    border-top: 0.75px solid rgb(88, 87, 87);
  }

  .badge{
    font-size: 20px;
    height: 50px;
    align-content: center;
    font-weight: 600;
    backdrop-filter: blur(20px);
    background-color: rgb(83, 81, 81);
  }

  .displayOptional{
    display: none;
  }