.secondary{
    background-color: transparent;
    border: 2px solid aqua;
    font-size: 16px;
    font-family: 'Inter';
    color: aqua;
    padding: 20px;
    font-weight: 400;
}

.secondary:hover{
    color: #000 !important;
    background-color: aqua !important;
}