.homeCard{
    /* padding: 200px; */
    padding-left: 100px;
    padding-right: 100px;
    border: 0px;
    background: transparent
}

.mainPortion{
    /* height: 92vh; */
    display: flex;
    padding: 3vw;
    align-items: center ;
}

.contactPortion{
    padding-top: 50px;
    /* height: 50vh; */
    width: 100%;
    background-color: rgba(2, 2, 12, 0.13)
}