.homeCard{
    /* padding: 200px; */
    padding-left: 100px;
    padding-right: 100px;
    border: 0px;
    background: transparent
}

.mainPortion{
    height: 92vh;
    display: flex;
    align-items: center ;
}

.contactPortion{
    height: 50vh;
    width: 100%;
    background-color: rgb(2, 2, 12);
}